body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#2d2b2b;
    color: white;
    text-align: center;
}

header {
    background: purple;
    color: white;
    padding: 15px;
}

nav {
    background: #2d2b2b; /* Aqui tava errado, tinha colocado 800000 sem "#" */
    padding: 10px;
}

nav a { 
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
}

footer {
    background: #2d2b2b;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* NAVBAR FIXA NO TOPO */
.navbar-purple {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: purple;
    height: 50px; /* Ajuste conforme necessário */
    z-index: 2; /* Para ficar sobre os outros elementos */
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* BODY NÃO FICAR COBERTO PELA NAVBAR */
body {
    margin-top: 60px; 
}

/* MENU LATERAL */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d2b2b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #2d2b2b;
}

.sidebar .profile {
    text-align: center;
    color: white;
    padding: 20px;
}

.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* BOTÃO DE ABRIR O MENU */
.open-btn {
    position: fixed; /* Corrigi para fixed, antes era absolute */
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* BOTÃO DE FECHAR O MENU */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
